<div class="slidein" style="margin-top: 6rem; width: 100%;">

    <div class="float-child" style="width: 20%;  background: #eff6f9; height: 504px;">
        <div class="inbox-message" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1;">
                        <div class="message-body" style="margin-left: 0px;">
                            <div class="message-body-heading">
                                <h1 style="text-align: center;">MSP Sale</h1>
                               </div>
                               <div style="margin-top: 70px;">
                                <iframe id="videoview" width="100%" height="100%" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>  
                        </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="float-child" style="width: 80%;">
        <pdf-viewer id='pdfview' src="MspSale.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:90%;width:80%;position:absolute;top:9%;left:20%;right:0px;bottom:0px"></pdf-viewer>
      </div>
    
  </div>
