<div class="slidein" style="margin-top: 6rem; width: 100%;">

    <div class="float-child" style="width: 20%;  background: #eff6f9; height: 504px;">
        <div class="inbox-message" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1;">
                        <div class="message-body" style="margin-left: 0px;">
                            <div class="message-body-heading">
                                <h1>GALLERY</h1>
                                <button type="button" class="btn btn-outline-primary " [ngClass]="{active: isOn}" style="margin-top: 2%; width: 100%;" (click)="openReport(1)">{{this.YoutubeName1}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName2.length>0" (click)="openReport(2)">{{this.YoutubeName2}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName3.length>0" (click)="openReport(3)">{{this.YoutubeName3}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName4.length>0" (click)="openReport(4)">{{this.YoutubeName4}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName5.length>0" (click)="openReport(5)">{{this.YoutubeName5}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName6.length>0" (click)="openReport(6)">{{this.YoutubeName6}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName7.length>0" (click)="openReport(7)">{{this.YoutubeName7}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName8.length>0" (click)="openReport(8)">{{this.YoutubeName8}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName9.length>0" (click)="openReport(9)">{{this.YoutubeName9}}</button>
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;width: 100%;" *ngIf="this.YoutubeName10.length>0" (click)="openReport(10)">{{this.YoutubeName10}}</button>
                            </div>
                        </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="float-child" style="width: 80%;">
        <iframe id="videoview" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:90%;width:80%;position:absolute;top:9%;left:20%;right:0px;bottom:0px" height="100%" width="80%"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>
