<div class="slidein" style="margin-top: 6rem; width: 100%;">
    <div class="float-child" style="width: 30%;  background: #eff6f9;height: 717px;">
        <div class="inbox-message" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1">
                    <a>
                        <div class="message-body" style="margin-left: 0px;">
                            <div class="message-body-heading">
                                <h1 style="margin-top: 10px;">MOTHER AND CHILD CARE</h1>
                            </div>
                            <div style="margin-top: 70px;">
                                <iframe id="videoview" width="100%" height="100%" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>  
                           </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="float-child" style="width: 70%;">
        <div class="inbox-message" >
            <ul>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5 style="text-align: center;" >Breast Feeding Week Promotion</h5>
                                <div><span style="float:none">Breast Feeding Week Promotion is one of the major activities of IDEAH since its inception.
                                    Educating on the Importance of breast feeding and age appropriate feeding are part of its
                                    regular community meetings.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Mothers Meetings</h5>
                                <div><span style="float:none; ">Mothers Meetings are regular activities to Educate on pre natal, anti natal and post natal
                                    issues. Importance of immunization for both mother and child, need for periodical health
                                    checkups, institutional deliveries.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Saamuhika Seemanthalu, Uyyala, and Anna Prasana</h5>
                                <div><span style="float:none; ">Saamuhika Seemanthalu, Uyyala, and Anna Prasana to promote mother and child health and
                                    promote importance and sc ientific aspects of our traditional systems.</span></div>
                                
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Health Baby Meets</h5>
                                <div><span style="float:none; ">Health Baby Meets are annually organized to identify healthy children between the age group
                                    of 6 months to 2 years and awarded “Health Baby” Title. Local ICDS workers are involved in
                                    this activity.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Women’s Day Celebrations</h5>
                                <div><span style="float:none; ">Women’s Day Celebrations intended to educate and empower women about their rights and
                                    to guide them about women protection acts and taking legal support in needy situations.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>World Child Rights Week</h5>
                                <div><span style="float:none; ">World Child Rights Week An annual activity of the organization. Rallies with the students,
                                    meetings with the teachers and parents are organized on this event. Information related to
                                    Child Rights and Juvenile Justice was also shared.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Adolescent Week Celebrations</h5>
                                <div><span style="float:none; ">Adolescent Week Celebrations the adolescents were educated on age specific growth and
                                    changes / problems</span></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
  </div>
