<div class="slidein" style="margin-top: 6rem; width: 100%;">
    <div class="float-child" style="width: 30%;  background: #eff6f9;height: 685px;">
        <div class="inbox-message" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1">
                    <a>
                        <div class="message-body" style="margin-left: 0px;">
                            <div class="message-body-heading">
                                <h1 style="margin-top: 10px;">SCHOOL & LITERACY</h1>
                            </div>
                            <div style="margin-top: 70px;">
                                <iframe id="videoview" width="100%" height="100%" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>  
                           </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="float-child" style="width: 70%;">
        <div class="inbox-message" >
            <ul>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5 style="text-align: center;" >Badi Bata (“Back to School”)</h5>
                                <div><span style="float:none">Badi Bata (“Back to School”) is to ensure enrolment of school-age children into the
                                    local schools. Rallies, and meetings are organized by involving the students, parents,
                                    teachers, elected representatives of the village etc. Local anganwadi (ICDS) workers
                                    also played key role by providing information about the children who have completed 6
                                    years and to be admitted into the schools.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Campaign against Child Labour</h5>
                                <div><span style="float:none; ">Campaign against Child Labour is another important activity to educate the
                                    communities about the importance of schooling and give the child its “Right to
                                    Education”.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Saamuhika Seemanthalu, Uyyala, and Anna Prasana</h5>
                                <div><span style="float:none; ">Saamuhika Seemanthalu, Uyyala, and Anna Prasana to promote mother and child health and
                                    promote importance and sc ientific aspects of our traditional systems.</span></div>
                                
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Teacher-Parents Meetings</h5>
                                <div><span style="float:none; ">Teacher-Parents Meetings are organized to educate and motivate parents to send
                                    their children to school. Distributed Books, Plats and Glasses for the students to
                                    provide them with the basic comforts they require.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Sports and Games Competitions</h5>
                                <div><span style="float:none; ">Sports and Games Competitions for students in the school to promote competitive
                                    spirit and to bring out the hidden talents in them.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Campaign against Violence</h5>
                                <div><span style="float:none; ">Campaign against Violence at Schools is also a major activity of IDEAH to promote
                                    “No Stick” schools and “Child Friendly Schools.”</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Awareness on ChildLine 1098</h5>
                                <div><span style="float:none; ">Awareness on ChildLine 1098 to help the children understand their safety and call
                                    for support in trauma.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
  </div>
