<div class="slidein" style="margin-top: 6rem; width: 100%;">
    <div class="float-child" style="width: 30%;  background: #eff6f9; height: 504px;">
        <div class="inbox-message" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1">
                    <a>
                        <div class="message-body" style="margin-left: 0px;">
                            <div class="message-body-heading">
                                <h1 style="margin-top: 10px;">HEATLH CARE</h1>
                            </div>
                        <div style="margin-top: 70px;">
                            <iframe id="videoview" width="100%" height="100%" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>  
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="float-child" style="width: 70%; height: 504px;">
        <div class="inbox-message" >
            <ul>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5 style="text-align: center;" >Health Checkup Camps</h5>
                                <div><span style="float:none">Health Checkup Camps are exclusively for the school children Dental and Eye Checkup
                                    Camps were organized for students in the school. This area being one of the fluoride affected
                                    areas, the students have several problems related to teet h and breathing.
                                     Coordinating with the local Health Centres in conducting Health and Immunization camps
                                    for the infants and to the pregnant mothers.
                                     Educating on Personal Health, Hygiene, Menstrual Hygiene, problems of Adolescent girls
                                     Distribution of Iron Folic Acid tablets to pregnant mothers and to some of the adolescent
                                    girls who were found to be having low Hb levels are taken up with the support of local Health
                                    Centres.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h5>Nutrition Week Celebrations</h5>
                                <div><span style="float:none; ">educating on the preparation of f ood items without losing its
                                    nutritional composition and demonstration of the cooking of food.
                                     Educating on the importance of institutional deliveries, Pre natal and Post natal care. This
                                    programme is to educate adolescent girls and mothers regarding healt h and hygiene and
                                    on nutrition and health.
                                     Promoting institutional deliveries to prevent Infant Mortality Rate (IMR) IMR), Maternal Mortality
                                    Rate (MMR) and taking proper support from government services like 108 were explained
                                    as a part of this programm e.</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    
  </div>
