<div class="float-child slidein" style="width: 30%; margin-top: 6rem; min-height: 39vw; background: #eff6f9;">
    <div class="inbox-message" style="height:88rem">
        <ul>
            <li style="border-bottom: 0px; border-right: 1px solid #e8eef1;">
                <a>
                    <div class="message-body" style="margin-left: 0px;">
                        <div class="message-body-heading">
                            <h1 style="text-align: center;" >LEGAL STATUS</h1>
                           <h6 style="text-align: center;">
                            <div class="row justify-content-center" style="padding: 10px;">
                                <div class="col-1" style="width: 975px;">
                                    {{this.LegalStatusLine1}}
                                </div>
                              </div>

                               <div class="row justify-content-center" style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine2Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine2Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine3Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine3Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine4Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine4Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine5Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine5Value}}</b>
                                </div>
                              </div>
                            <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine6}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine7}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine8}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine9Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine9Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine10Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine10Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine11Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine11Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine12Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine12Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine13Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine13Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine14Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine14Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine15Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine15Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine16Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine16Value}}</b>
                                </div>
                              </div>
                              <div class="row justify-content-center"style="padding: 10px;">
                                <div class="col-1" style="width: 300px;">
                                    {{this.LegalStatusLine17Heading}}
                                </div>
                                <div class="col-1" style="width: 675px;">
                                    <b>{{this.LegalStatusLine17Value}}</b>
                                </div>
                              </div>
                            </h6>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="float-child slidein" style="width: 24%; margin-top: 6rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
<div class="card">
  <pdf-viewer id='pdfview' class="card-img-top" src="Registration.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
    
   <div class="card-body">
      <h5 class="card-title link-primary text-center">Registration Certificate</h5>
    </div>
  </div>
</div>
<div class="float-child slidein" style="width: 23%; margin-top: 6rem;" data-bs-toggle="modal" data-bs-target="#exampleModal2">
<div class="card">
  <pdf-viewer id='pdfview' class="card-img-top" src="TIN.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
  <div class="card-body">
      <h5 class="card-title link-primary text-center">TIN</h5>
    </div>
  </div>
</div>
<div class="float-child slidein" style="width: 23%; margin-top: 6rem;" data-bs-toggle="modal" data-bs-target="#exampleModal3">
<div class="card">
  <pdf-viewer id='pdfview' class="card-img-top" src="PAN.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
 
  <div class="card-body">
      <h5 class="card-title link-primary text-center">PAN</h5>
    </div>
  </div>
</div>
<div class="float-child slidein" style="width: 24%;" data-bs-toggle="modal" data-bs-target="#exampleModal4">
  <div class="card">
    <pdf-viewer id='pdfview' class="card-img-top" src="LegalMetrology.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
    <div class="card-body">
        <h5 class="card-title link-primary text-center">Legal Metrology</h5>
      </div>
    </div>
  </div>
  <div class="float-child slidein" style="width: 23%;" data-bs-toggle="modal" data-bs-target="#exampleModal5">
  <div class="card">
    <pdf-viewer id='pdfview' class="card-img-top" src="Processing.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
 
      <div class="card-body">
        <h5 class="card-title link-primary text-center">Processing Cerificate</h5>
      </div>
    </div>
  </div>
  <div class="float-child slidein" style="width: 23%;" data-bs-toggle="modal" data-bs-target="#exampleModal6">
  <div class="card">
    <pdf-viewer id='pdfview' class="card-img-top" src="Seed.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
    <div class="card-body">
        <h5 class="card-title link-primary text-center">Seed Certificate</h5>
      </div>
    </div>
  </div>
  <div class="float-child slidein" style="width: 24%;" data-bs-toggle="modal" data-bs-target="#exampleModal7">
    <div class="card">
      <pdf-viewer id='pdfview' class="card-img-top" src="Pesticide.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
   
        <div class="card-body">
          <h5 class="card-title link-primary text-center">Pesticide Certificate</h5>
        </div>
      </div>
    </div>
    <div class="float-child slidein" style="width: 23%;" data-bs-toggle="modal" data-bs-target="#exampleModal8">
      <div class="card">
        <pdf-viewer id='pdfview' class="card-img-top" src="Fertilisers.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
     
          <div class="card-body">
            <h5 class="card-title link-primary text-center">Fertiliser Certificate</h5>
          </div>
        </div>
      </div>
      <div class="float-child slidein" style="width: 23%;" data-bs-toggle="modal" data-bs-target="#exampleModal9">
        <div class="card">
          <pdf-viewer id='pdfview' class="card-img-top" src="FSSAI.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
       
            <div class="card-body">
              <h5 class="card-title link-primary text-center">FSSAI Certificate</h5>
            </div>
          </div>
        </div>
        <div class="float-child slidein" style="width: 24%;" data-bs-toggle="modal" data-bs-target="#exampleModal10">
          <div class="card">
            <pdf-viewer id='pdfview' class="card-img-top" src="APMC.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
         
              <div class="card-body">
                <h5 class="card-title link-primary text-center">APMC Certificate</h5>
              </div>
            </div>
          </div>
          <div class="float-child slidein" style="width: 23%;" data-bs-toggle="modal" data-bs-target="#exampleModal11">
            <div class="card">
              <pdf-viewer id='pdfview' class="card-img-top" src="DIC.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
           
                <div class="card-body">
                  <h5 class="card-title link-primary text-center">DIC Certificate</h5>
                </div>
              </div>
            </div>
            <div class="float-child slidein" style="width: 23%;" data-bs-toggle="modal" data-bs-target="#exampleModal12">
              <div class="card">
                <pdf-viewer id='pdfview' class="card-img-top" src="TAN.pdf" [original-size]="false" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:18.2vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%"></pdf-viewer>
                <div class="card-body">
                    <h5 class="card-title link-primary text-center">TAN</h5>
                  </div>
                </div>
              </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-body">
      <iframe id='pdfview' src="Registration.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
         </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-body">
      <iframe id='pdfview' src="TIN.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
      </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-body">
      <iframe id='pdfview' src="PAN.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
     
     </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id='pdfview' src="LegalMetrology.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id='pdfview' src="Processing.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
        </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id='pdfview' src="Seed.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
        </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <iframe id='pdfview' src="Pesticide.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
        </div>
      </div>
    </div>
    </div>
    <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <iframe id='pdfview' src="Fertilisers.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
         </div>
        </div>
      </div>
      </div>
      <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-body">
              <iframe id='pdfview' src="FSSAI.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
          </div>
          </div>
        </div>
        </div>
        <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel10" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-body">
                <iframe id='pdfview' src="APMC.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
         </div>
            </div>
          </div>
          </div>
          <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-body">
                  <iframe id='pdfview' src="DIC.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
          </div>
              </div>
            </div>
            </div>
            <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel12" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-body">
                    <iframe id='pdfview' src="TAN.pdf#view=FitH&toolbar=0&scrollbar=0" class="card-img-top" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:35vw;width:100%;;top:9%;right:0px;bottom:0px" height="100%" width="80%" ></iframe>
                    </div>
                </div>
              </div>
              </div>

